---
// Footer Component
---
<footer class="footer">
    <div class="footer-container">
        <!-- LEAGUE INFO -->
        <div class="footer-column">
            <h3>League Info</h3>
            <a href="/">
                <i class="fa-solid fa-house"></i> Home
            </a>
            <a href="/schedule">
                <i class="fa-solid fa-calendar"></i> Game Schedule
            </a>
            <a href="/fields">
                <i class="fa-solid fa-map-location-dot"></i> Field Directions
            </a>
            <a href="/fundraisers">
                <i class="fa-solid fa-hand-holding-dollar"></i> Fundraisers
            </a>
            <a href="/board">
                <i class="fa-solid fa-users"></i> Board Members
            </a>
        </div>

        <!-- DOWNLOADS -->
        <div class="footer-column">
            <h3>Downloads</h3>
            <a href="/downloads/Marianna_s_Order_Form.pdf" download>
                <i class="fa-solid fa-file-arrow-down"></i> Fundraiser Form
            </a>
            <a href="/downloads/BEYS Parent Welcome Packet (3).pdf" download>
                <i class="fa-solid fa-file-lines"></i> Parent Welcome Packet
            </a>
        </div>

        <!-- STAY CONNECTED -->
        <div class="footer-column">
            <h3>Stay Connected</h3>
            <p>
                <a href="https://www.facebook.com/BaldEagleYouthSoccer" target="_blank">
                    <i class="fa-brands fa-facebook"></i> Follow us on Facebook
                </a>
            </p>
            <p>
                <a href="https://sportsyou.app" target="_blank">
                    <i class="fa-solid fa-mobile-screen"></i> Download the SportsYou App
                </a>
            </p>
           
        </div>

        <!-- CONTACT -->
        <div class="footer-column">
            <h3>Contact</h3>
            <p>
                <i class="fa-solid fa-location-dot"></i> Bald Eagle Youth Soccer
            </p>
            <p>
                Unionville Soccer Fields<br>
                P.O. Box 704<br>
                Milesburg, PA 16853
            </p>
            <p>
                <i class="fa-solid fa-envelope"></i> Email:
            </p>
            <a href="mailto:baldeagleyouthsoccer@gmail.com">
                baldeagleyouthsoccer@gmail.com
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        © 2026 Bald Eagle Youth Soccer
    </div>
</footer>
